openapi: 3.1.0
info:
  title: mcp_openapi
  version: v1
  description: Flagsmith's Core and SDK APIs. Check out <a href='https://docs.flagsmith.com'>Flagsmith
    documentation</a>.
  contact:
    email: support@flagsmith.com
  license:
    name: BSD License
    identifier: BSD-3-Clause
servers:
- url: https://api.flagsmith.com
paths:
  /api/v1/environments/:
    get:
      operationId: api_v1_environments_list
      parameters:
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - in: query
        name: project
        schema:
          type: integer
        description: ID of the project to filter by.
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEnvironmentSerializerWithMetadataList'
          description: ''
      x-gram:
        name: list_environments
        description: Lists all environments the user has access to
  /api/v1/environments/{environment_api_key}/create-change-request/:
    post:
      operationId: api_v1_environments_create_change_request_create
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRequestCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChangeRequestCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ChangeRequestCreate'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeRequestCreate'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowsError'
          description: ''
      x-gram:
        name: create_environment_feature_change_request
        description: Creates a new change request for feature flag modifications in
          an environment.
  /api/v1/environments/{environment_api_key}/list-change-requests/:
    get:
      operationId: api_v1_environments_list_change_requests_retrieve
      parameters:
      - in: query
        name: committed
        schema:
          type:
          - boolean
          - 'null'
        description: Filter on the committed status of a change request.
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: query
        name: feature_id
        schema:
          type: integer
        description: Filter for a particular feature.
      - in: query
        name: live_from_after
        schema:
          type: string
          format: date-time
        description: Filter change requests due to go live after this datetime.
      - in: query
        name: page
        schema:
          type: integer
        description: A page number within the paginated result set.
      - in: query
        name: page_size
        schema:
          type: integer
        description: Number of results to return per page.
      - in: query
        name: search
        schema:
          type: string
          minLength: 1
        description: Fuzzy search across Change Request titles.
      - in: query
        name: segment_id
        schema:
          type: integer
        description: Filter change requests which match a specific segment id.
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeRequestList'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowsError'
          description: ''
      x-gram:
        name: list_environment_change_requests
        description: Retrieves all change requests for an environment.
  /api/v1/environments/{environment_pk}/features/{feature_pk}/versions/:
    get:
      operationId: api_v1_environments_features_versions_list
      parameters:
      - in: path
        name: environment_pk
        schema:
          type: integer
        required: true
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEnvironmentFeatureVersionList'
          description: ''
      x-gram:
        name: get_environment_feature_versions
        description: Retrieves version information for a feature flag in a specific
          environment.
    post:
      operationId: api_v1_environments_features_versions_create
      parameters:
      - in: path
        name: environment_pk
        schema:
          type: integer
        required: true
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentFeatureVersionCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EnvironmentFeatureVersionCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnvironmentFeatureVersionCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentFeatureVersionCreate'
          description: ''
      x-gram:
        name: create_environment_feature_version
        description: Creates a new version for a feature flag in a specific environment.
  /api/v1/environments/{environment_pk}/features/{feature_pk}/versions/{environment_feature_version_pk}/featurestates/:
    get:
      operationId: api_v1_environments_features_versions_featurestates_list
      parameters:
      - in: path
        name: environment_feature_version_pk
        schema:
          type:
          - string
          - 'null'
          format: uuid
        required: true
      - in: path
        name: environment_pk
        schema:
          type: integer
        required: true
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
          description: ''
      x-gram:
        name: get_environment_feature_version_states
        description: Retrieves feature state information for a specific version in
          an environment.
    post:
      operationId: api_v1_environments_features_versions_featurestates_create
      parameters:
      - in: path
        name: environment_feature_version_pk
        schema:
          type:
          - string
          - 'null'
          format: uuid
        required: true
      - in: path
        name: environment_pk
        schema:
          type: integer
        required: true
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
          description: ''
      x-gram:
        name: create_environment_feature_version_state
        description: Creates a new feature state for a specific version in an environment.
  /api/v1/environments/{environment_pk}/features/{feature_pk}/versions/{environment_feature_version_pk}/featurestates/{id}/:
    put:
      operationId: api_v1_environments_features_versions_featurestates_update
      parameters:
      - in: path
        name: environment_feature_version_pk
        schema:
          type:
          - string
          - 'null'
          format: uuid
        required: true
      - in: path
        name: environment_pk
        schema:
          type: integer
        required: true
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this feature state.
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
          description: ''
      x-gram:
        name: update_environment_feature_version_state
        description: Updates an existing feature state for a specific version in an
          environment.
  /api/v1/organisations/:
    get:
      operationId: api_v1_organisations_list
      parameters:
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganisationSerializerFullList'
          description: ''
      x-gram:
        name: list_organizations
        description: Lists all organizations accessible with the provided user API
          key.
  /api/v1/organisations/{organisation_pk}/groups/:
    get:
      operationId: api_v1_organisations_groups_list
      parameters:
      - in: path
        name: organisation_pk
        schema:
          type: integer
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListUserPermissionGroupList'
          description: ''
      x-gram:
        name: list_organization_groups
        description: Retrieves all permission groups within the organization.
  /api/v1/organisations/{organisation_pk}/invites/:
    get:
      operationId: api_v1_organisations_invites_list
      parameters:
      - in: path
        name: organisation_pk
        schema:
          type: integer
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInviteListList'
          description: ''
      x-gram:
        name: list_organization_invites
        description: Retrieves all pending invitations for the organization.
    post:
      operationId: api_v1_organisations_invites_create
      parameters:
      - in: path
        name: organisation_pk
        schema:
          type: integer
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invite'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Invite'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Invite'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invite'
          description: ''
      x-gram:
        name: create_organization_invite
        description: Send an invitation to join the organization with specified role
          and permissions.
  /api/v1/organisations/{organisation_pk}/roles/:
    get:
      operationId: api_v1_organisations_roles_list
      parameters:
      - in: path
        name: organisation_pk
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRoleList'
          description: ''
      x-gram:
        name: list_organization_roles
        description: Retrieves all custom roles defined within the organisation.
  /api/v1/organisations/{id}/projects/:
    get:
      operationId: api_v1_organisations_projects_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this organisation.
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationSerializerFull'
          description: ''
      x-gram:
        name: list_projects_in_organization
        description: Retrieves all projects within a specified organization.
  /api/v1/projects/{id}/:
    get:
      operationId: api_v1_projects_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this project.
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRetrieve'
          description: ''
      x-gram:
        name: get_project
        description: Retrieves comprehensive information about a specific project
          including configuration and statistics.
    put:
      operationId: api_v1_projects_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this project.
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUpdate'
          description: ''
      x-gram:
        name: update_project
        description: Updates project configuration settings such as the project name
          and feature visibility.
  /api/v1/projects/{id}/environments/:
    get:
      operationId: api_v1_projects_environments_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this project.
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
          description: ''
      x-gram:
        name: list_project_environments
        description: Retrieves all environments configured for the specified project.
  /api/v1/projects/{project_pk}/change-requests/:
    get:
      operationId: api_v1_projects_change_requests_list
      parameters:
      - in: query
        name: committed
        schema:
          type:
          - boolean
          - 'null'
        description: Filter on the committed status of a change request.
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      - in: query
        name: search
        schema:
          type: string
          minLength: 1
        description: Fuzzy search across Change Request titles.
      - in: query
        name: segment_id
        schema:
          type: integer
        description: Filter change requests which match a specific segment id.
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectChangeRequestListList'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowsError'
          description: ''
      x-gram:
        name: list_project_change_requests
        description: Retrieves all change requests for a project.
  /api/v1/projects/{project_pk}/feature-health/events/:
    get:
      operationId: api_v1_projects_feature_health_events_list
      parameters:
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureHealthEvent'
          description: ''
      x-gram:
        name: get_feature_health_events
        description: Retrieves feature health monitoring events and metrics for the
          project.
  /api/v1/projects/{project_pk}/features/:
    get:
      operationId: api_v1_projects_features_list
      parameters:
      - in: query
        name: environment
        schema:
          type: integer
        description: Integer ID of the environment to view features in the context
          of.
      - in: query
        name: group_owners
        schema:
          type: string
          minLength: 1
        description: Comma separated list of group owner ids to filter on
      - in: query
        name: identity
        schema:
          type: string
          minLength: 1
        description: ID of the identity to sort features with identity overrides first.
      - in: query
        name: is_archived
        schema:
          type: boolean
      - in: query
        name: is_enabled
        schema:
          type:
          - boolean
          - 'null'
        description: Boolean value to filter features as enabled or disabled.
      - in: query
        name: owners
        schema:
          type: string
          minLength: 1
        description: Comma separated list of owner ids to filter on
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: path
        name: project_pk
        schema:
          type: integer
          description: Changing the project selected will remove previous Feature
            States for the previously associated projects Environments that are related
            to this Feature. New default Feature States will be created for the new
            selected projects Environments for this Feature. Also this will remove
            any Tags associated with a feature as Tags are Project defined
        required: true
      - in: query
        name: search
        schema:
          type: string
          minLength: 1
      - in: query
        name: segment
        schema:
          type: integer
        description: Integer ID of the segment to retrieve segment overrides for.
      - in: query
        name: sort_direction
        schema:
          enum:
          - ASC
          - DESC
          type: string
          default: ASC
          minLength: 1
        description: |-
          * `ASC` - ASC
          * `DESC` - DESC
      - in: query
        name: sort_field
        schema:
          enum:
          - created_date
          - name
          type: string
          default: created_date
          minLength: 1
        description: |-
          * `created_date` - created_date
          * `name` - name
      - in: query
        name: tag_strategy
        schema:
          enum:
          - UNION
          - INTERSECTION
          type: string
          default: INTERSECTION
          minLength: 1
        description: |-
          * `UNION` - UNION
          * `INTERSECTION` - INTERSECTION
      - in: query
        name: tags
        schema:
          type: string
          minLength: 1
        description: Comma separated list of tag ids to filter on (AND with INTERSECTION,
          and OR with UNION via tag_strategy)
      - in: query
        name: value_search
        schema:
          type: string
          minLength: 1
        description: Value of type int, string, or boolean to filter features based
          on their values
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListFeatureList'
          description: ''
      x-gram:
        name: list_project_features
        description: Retrieves all feature flags within the specified project with
          pagination.
    post:
      operationId: api_v1_projects_features_create
      parameters:
      - in: path
        name: project_pk
        schema:
          type: integer
          description: Changing the project selected will remove previous Feature
            States for the previously associated projects Environments that are related
            to this Feature. New default Feature States will be created for the new
            selected projects Environments for this Feature. Also this will remove
            any Tags associated with a feature as Tags are Project defined
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFeature'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ListFeature'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ListFeature'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeature'
          description: ''
      x-gram:
        name: create_feature
        description: Creates a new feature flag in the specified project with default
          settings.
  /api/v1/projects/{project_pk}/features/{feature_pk}/code-references/:
    get:
      operationId: api_v1_projects_features_code_references_retrieve
      description: API view to retrieve code references for a specific feature in
        a project
      parameters:
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagCodeReferencesRepositorySummary'
          description: ''
      x-gram:
        name: get_feature_code_references
        description: Retrieves code references and usage information for the feature
          flag.
  /api/v1/projects/{project_pk}/features/{feature_pk}/feature-external-resources/:
    get:
      operationId: api_v1_projects_features_feature_external_resources_list
      parameters:
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeatureExternalResourceList'
          description: ''
      x-gram:
        name: get_feature_external_resources
        description: Retrieves external resources linked to the feature flag.
  /api/v1/projects/{project_pk}/features/{feature_pk}/mv-options/:
    get:
      operationId: api_v1_projects_features_mv_options_list
      parameters:
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMultivariateFeatureOptionList'
          description: ''
      x-gram:
        name: list_feature_multivariate_options
        description: Retrieves all multivariate options for a feature flag.
    post:
      operationId: api_v1_projects_features_mv_options_create
      parameters:
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultivariateFeatureOption'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MultivariateFeatureOption'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MultivariateFeatureOption'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultivariateFeatureOption'
          description: ''
      x-gram:
        name: create_feature_multivariate_option
        description: Creates a new multivariate option for a feature flag.
  /api/v1/projects/{project_pk}/features/{feature_pk}/mv-options/{id}/:
    put:
      operationId: api_v1_projects_features_mv_options_update
      parameters:
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this multivariate feature
          option.
        required: true
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultivariateFeatureOption'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MultivariateFeatureOption'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MultivariateFeatureOption'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultivariateFeatureOption'
          description: ''
      x-gram:
        name: update_feature_multivariate_option
        description: Updates an existing multivariate option.
    delete:
      operationId: api_v1_projects_features_mv_options_destroy
      parameters:
      - in: path
        name: feature_pk
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this multivariate feature
          option.
        required: true
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      tags:
      - mcp
      responses:
        '204':
          description: No response body
      x-gram:
        name: delete_feature_multivariate_option
        description: Deletes a multivariate option.
  /api/v1/projects/{project_pk}/features/{id}/:
    get:
      operationId: api_v1_projects_features_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this feature.
        required: true
      - in: path
        name: project_pk
        schema:
          type: integer
          description: Changing the project selected will remove previous Feature
            States for the previously associated projects Environments that are related
            to this Feature. New default Feature States will be created for the new
            selected projects Environments for this Feature. Also this will remove
            any Tags associated with a feature as Tags are Project defined
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeature'
          description: ''
      x-gram:
        name: get_feature_flag
        description: Retrieves detailed information about a specific feature flag.
    put:
      operationId: api_v1_projects_features_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this feature.
        required: true
      - in: path
        name: project_pk
        schema:
          type: integer
          description: Changing the project selected will remove previous Feature
            States for the previously associated projects Environments that are related
            to this Feature. New default Feature States will be created for the new
            selected projects Environments for this Feature. Also this will remove
            any Tags associated with a feature as Tags are Project defined
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeature'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateFeature'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateFeature'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFeature'
          description: ''
      x-gram:
        name: update_feature
        description: Updates feature flag properties such as name and description.
  /api/v1/projects/{project_pk}/features/{id}/evaluation-data/:
    get:
      operationId: api_v1_projects_features_evaluation_data_retrieve
      parameters:
      - in: query
        name: client_application_name
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: client_application_version
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: environment_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this feature.
        required: true
      - in: query
        name: period
        schema:
          type: integer
          default: 30
        description: number of days
      - in: path
        name: project_pk
        schema:
          type: integer
          description: Changing the project selected will remove previous Feature
            States for the previously associated projects Environments that are related
            to this Feature. New default Feature States will be created for the new
            selected projects Environments for this Feature. Also this will remove
            any Tags associated with a feature as Tags are Project defined
        required: true
      - in: query
        name: user_agent
        schema:
          type:
          - string
          - 'null'
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureEvaluationData'
          description: ''
      x-gram:
        name: get_feature_evaluation_data
        description: Retrieves evaluation data and analytics for a specific feature
          flag.
  /api/v1/projects/{project_pk}/release-pipelines/:
    get:
      operationId: api_v1_projects_release_pipelines_list
      parameters:
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReleasePipelineList'
          description: ''
      x-gram:
        name: list_project_release_pipelines
        description: Retrieves all release pipelines configured for the specified
          project.
  /api/v1/projects/{project_pk}/release-pipelines/{id}/:
    get:
      operationId: api_v1_projects_release_pipelines_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleasePipelineDetail'
          description: ''
      x-gram:
        name: get_release_pipeline
        description: Retrieves detailed information about a specific release pipeline.
  /api/v1/projects/{project_pk}/release-pipelines/{id}/add-feature/:
    post:
      operationId: api_v1_projects_release_pipelines_add_feature_create
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      - in: path
        name: project_pk
        schema:
          type: string
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleasePipeline'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReleasePipeline'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReleasePipeline'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleasePipeline'
          description: ''
      x-gram:
        name: add_feature_to_release_pipeline
        description: Adds a feature flag to a release pipeline for staged rollout.
  /api/v1/projects/{project_pk}/segments/:
    get:
      operationId: api_v1_projects_segments_list
      parameters:
      - in: query
        name: identity
        schema:
          type: string
          minLength: 1
        description: Optionally provide the id of an identity to get only the segments
          they match
      - in: query
        name: include_feature_specific
        schema:
          type: boolean
          default: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      - in: query
        name: q
        schema:
          type: string
          minLength: 1
        description: Search term to find segment with given term in their name
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSegmentList'
          description: ''
      x-gram:
        name: list_project_segments
        description: Retrieves all user segments defined for audience targeting within
          the project.
    post:
      operationId: api_v1_projects_segments_create
      parameters:
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Segment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Segment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Segment'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
          description: ''
      x-gram:
        name: create_project_segment
        description: Creates a new user segment for audience targeting within the
          project.
  /api/v1/projects/{project_pk}/segments/{id}/:
    get:
      operationId: api_v1_projects_segments_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this segment.
        required: true
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      tags:
      - mcp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
          description: ''
      x-gram:
        name: get_project_segment
        description: Retrieves detailed information about a specific user segment.
    put:
      operationId: api_v1_projects_segments_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this segment.
        required: true
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      tags:
      - mcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Segment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Segment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Segment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
          description: ''
      x-gram:
        name: update_project_segment
        description: Updates an existing user segment's properties and rules.
components:
  schemas:
    ActionTypeEnum:
      enum:
      - TOGGLE_FEATURE
      - UPDATE_FEATURE_VALUE
      - TOGGLE_FEATURE_FOR_SEGMENT
      - UPDATE_FEATURE_VALUE_FOR_SEGMENT
      - PHASED_ROLLOUT
      type: string
      description: |-
        * `TOGGLE_FEATURE` - Enable/Disable Feature for the environment
        * `UPDATE_FEATURE_VALUE` - Update Feature Value for the environment
        * `TOGGLE_FEATURE_FOR_SEGMENT` - Enable/Disable Feature for a specific segment
        * `UPDATE_FEATURE_VALUE_FOR_SEGMENT` - Update Feature Value for a specific segment
        * `PHASED_ROLLOUT` - Create Phased Rollout
    Activation:
      type: object
      properties:
        uid:
          type: string
        token:
          type: string
      required:
      - token
      - uid
    AmplitudeConfiguration:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        api_key:
          type: string
          maxLength: 100
        base_url:
          type: string
          format: uri
          maxLength: 200
      required:
      - api_key
    AuditLogList:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        created_date:
          type: string
          format: date-time
          title: DateCreated
        log:
          type: string
        author:
          $ref: '#/components/schemas/UserList'
        environment:
          $ref: '#/components/schemas/EnvironmentSerializerLight'
        project:
          $ref: '#/components/schemas/ProjectList'
        related_object_id:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        related_object_uuid:
          type:
          - string
          - 'null'
          maxLength: 36
        related_object_type:
          type:
          - string
          - 'null'
          maxLength: 20
        is_system_event:
          type: boolean
      required:
      - author
      - created_date
      - environment
      - log
      - project
    AuditLogRetrieve:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        created_date:
          type: string
          format: date-time
          title: DateCreated
        log:
          type: string
        author:
          $ref: '#/components/schemas/UserList'
        environment:
          $ref: '#/components/schemas/EnvironmentSerializerLight'
        project:
          $ref: '#/components/schemas/ProjectList'
        related_object_id:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        related_object_uuid:
          type:
          - string
          - 'null'
          maxLength: 36
        related_object_type:
          type:
          - string
          - 'null'
          maxLength: 20
        is_system_event:
          type: boolean
        change_details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              old:
                type:
                - string
                - number
                - boolean
                - 'null'
              new:
                type:
                - string
                - number
                - boolean
                - 'null'
          readOnly: true
        change_type:
          allOf:
          - $ref: '#/components/schemas/ChangeTypeEnum'
          readOnly: true
      required:
      - author
      - created_date
      - environment
      - log
      - project
    BaseEdgeIdentityFeatureState:
      type: object
      properties:
        feature_state_value:
          type:
          - string
          - integer
          - boolean
          - 'null'
          description: Feature state value (string, integer, or boolean)
        feature:
          type: integer
          description: Feature ID
        multivariate_feature_state_values:
          type: array
          items:
            $ref: '#/components/schemas/EdgeMultivariateFeatureStateValue'
        enabled:
          type: boolean
          default: false
        featurestate_uuid:
          type: string
          readOnly: true
      required:
      - feature
    BaseUrlEnum:
      enum:
      - https://api.segment.io/
      - https://events.eu1.segmentapis.com/
      type: string
      description: |-
        * `https://api.segment.io/` - https://api.segment.io/
        * `https://events.eu1.segmentapis.com/` - https://events.eu1.segmentapis.com/
    BillingStatusEnum:
      enum:
      - ACTIVE
      - DUNNING
      type: string
      description: |-
        * `ACTIVE` - Active
        * `DUNNING` - Dunning
    BlankEnum:
      enum:
      - ''
    ChangeRequestApproval:
      type: object
      description: Adds nested create feature
      properties:
        id:
          type: integer
          readOnly: true
        user:
          type: integer
        approved_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
      required:
      - user
    ChangeRequestCreate:
      type: object
      description: Adds nested create feature
      properties:
        id:
          type: integer
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        title:
          type: string
          maxLength: 500
        description:
          type:
          - string
          - 'null'
        feature_states:
          type: array
          items:
            $ref: '#/components/schemas/CreateChangeRequestFeatureState'
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        environment:
          type:
          - integer
          - 'null'
          readOnly: true
        committed_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        approvals:
          type: array
          items:
            $ref: '#/components/schemas/ChangeRequestApproval'
        user:
          type:
          - integer
          - 'null'
          readOnly: true
        committed_by:
          type:
          - integer
          - 'null'
          readOnly: true
        group_assignments:
          type: array
          items:
            $ref: '#/components/schemas/ChangeRequestGroupAssignment'
        environment_feature_versions:
          type: array
          items:
            type: string
            format: uuid
        change_sets:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VersionChangeSet'
        ignore_conflicts:
          type: boolean
      required:
      - feature_states
      - title
    ChangeRequestGroupAssignment:
      type: object
      description: Adds nested create feature
      properties:
        group:
          type: integer
      required:
      - group
    ChangeRequestList:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        title:
          type: string
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        user:
          type:
          - integer
          - 'null'
          readOnly: true
        committed_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        committed_by:
          type:
          - integer
          - 'null'
          readOnly: true
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        live_from:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        environment_feature_versions:
          type: array
          items:
            type: string
            format: uuid
          readOnly: true
        ignore_conflicts:
          type: boolean
          readOnly: true
    ChangeRequestRetrieve:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        environment:
          type:
          - integer
          - 'null'
          readOnly: true
        title:
          type: string
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        feature_states:
          type: array
          items:
            $ref: '#/components/schemas/CreateChangeRequestFeatureState'
        user:
          type:
          - integer
          - 'null'
          readOnly: true
        committed_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        committed_by:
          type:
          - integer
          - 'null'
          readOnly: true
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        approvals:
          type: array
          items:
            $ref: '#/components/schemas/ChangeRequestApproval'
        is_approved:
          type: string
          readOnly: true
        is_committed:
          type: string
          readOnly: true
        group_assignments:
          type: array
          items:
            $ref: '#/components/schemas/ChangeRequestGroupAssignment'
        environment_feature_versions:
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentFeatureVersionChangeRequest'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        change_sets:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VersionChangeSet'
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/Conflict'
          readOnly: true
        ignore_conflicts:
          type: boolean
          readOnly: true
      required:
      - approvals
      - environment_feature_versions
      - feature_states
      - group_assignments
      - segments
    ChangeRequestSegment:
      type: object
      description: Functionality for serializers that need to handle metadata
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        name:
          type: string
          maxLength: 2000
        description:
          type:
          - string
          - 'null'
        project:
          type: integer
        feature:
          type:
          - integer
          - 'null'
        version_of:
          type:
          - integer
          - 'null'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/SegmentRule'
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
        change_request:
          type:
          - integer
          - 'null'
      required:
      - name
      - project
      - rules
    ChangeRequestUpdate:
      type: object
      description: Adds nested create feature
      properties:
        id:
          type: integer
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        title:
          type: string
          maxLength: 500
        description:
          type:
          - string
          - 'null'
        feature_states:
          type: array
          items:
            $ref: '#/components/schemas/UpdateChangeRequestFeatureState'
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        environment:
          type:
          - integer
          - 'null'
          readOnly: true
        committed_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        approvals:
          type: array
          items:
            $ref: '#/components/schemas/ChangeRequestApproval'
        user:
          type:
          - integer
          - 'null'
          readOnly: true
        committed_by:
          type:
          - integer
          - 'null'
          readOnly: true
        group_assignments:
          type: array
          items:
            $ref: '#/components/schemas/ChangeRequestGroupAssignment'
        environment_feature_versions:
          type: array
          items:
            type: string
            format: uuid
        change_sets:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VersionChangeSet'
        ignore_conflicts:
          type: boolean
      required:
      - feature_states
      - title
    ChangeTypeEnum:
      enum:
      - CREATE
      - UPDATE
      - DELETE
      - UNKNOWN
      type: string
    CloneEnvironment:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          readOnly: true
        project:
          type: integer
          readOnly: true
          description: Changing the project selected will remove all previous Feature
            States for the previously associated projects Features that are related
            to this Environment. New default Feature States will be created for the
            new selected projects Features for this Environment.
        clone_feature_states_async:
          type: boolean
          writeOnly: true
          default: false
          description: 'If True, the environment will be created immediately, but
            the feature states will be created asynchronously. Environment will have
            `is_creating: true` until this process is completed.'
      required:
      - name
    CloneSegment:
      type: object
      properties:
        name:
          type: string
          maxLength: 2000
      required:
      - name
    Condition:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        operator:
          $ref: '#/components/schemas/ConditionOperatorEnum'
        property:
          type:
          - string
          - 'null'
          maxLength: 1000
        value:
          type:
          - string
          - 'null'
          maxLength: 1000
        description:
          type:
          - string
          - 'null'
        delete:
          type: boolean
          writeOnly: true
      required:
      - operator
    ConditionOperatorEnum:
      enum:
      - EQUAL
      - GREATER_THAN
      - LESS_THAN
      - CONTAINS
      - GREATER_THAN_INCLUSIVE
      - LESS_THAN_INCLUSIVE
      - NOT_CONTAINS
      - NOT_EQUAL
      - REGEX
      - PERCENTAGE_SPLIT
      - MODULO
      - IS_SET
      - IS_NOT_SET
      - IN
      type: string
      description: |-
        * `EQUAL` - Exactly Matches
        * `GREATER_THAN` - Greater than
        * `LESS_THAN` - Less than
        * `CONTAINS` - Contains
        * `GREATER_THAN_INCLUSIVE` - Greater than or equal to
        * `LESS_THAN_INCLUSIVE` - Less than or equal to
        * `NOT_CONTAINS` - Does not contain
        * `NOT_EQUAL` - Does not match
        * `REGEX` - Matches regex
        * `PERCENTAGE_SPLIT` - Percentage split
        * `MODULO` - Modulo Operation
        * `IS_SET` - Is set
        * `IS_NOT_SET` - Is not set
        * `IN` - In
    Conflict:
      type: object
      properties:
        original_cr_id:
          type: integer
        segment_id:
          type: integer
        is_environment_default:
          type: boolean
        published_at:
          type: string
          format: date-time
      required:
      - is_environment_default
      - original_cr_id
      - published_at
      - segment_id
    ContentType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        app_label:
          type: string
          maxLength: 100
        model:
          type: string
          title: Python model class name
          maxLength: 100
      required:
      - app_label
      - model
    CreateChangeRequestFeatureState:
      type: object
      description: Adds nested create feature
      properties:
        id:
          type: integer
          readOnly: true
        feature:
          type: integer
        feature_segment:
          type:
          - integer
          - 'null'
        enabled:
          type: boolean
        feature_state_value:
          $ref: '#/components/schemas/_FeatureStateValue'
        multivariate_feature_state_values:
          type: array
          items:
            $ref: '#/components/schemas/_MultivariateFeatureStateValue'
        live_from:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - feature
    CreateFeature:
      type: object
      description: Adds nested create feature
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 2000
        type:
          allOf:
          - $ref: '#/components/schemas/TypeD77Enum'
          readOnly: true
        default_enabled:
          type: boolean
        initial_value:
          type:
          - string
          - 'null'
          maxLength: 20000
        created_date:
          type: string
          format: date-time
          readOnly: true
          title: DateCreated
        description:
          type:
          - string
          - 'null'
        tags:
          type: array
          items:
            type: integer
        multivariate_options:
          type: array
          items:
            $ref: '#/components/schemas/NestedMultivariateFeatureOption'
        is_archived:
          type: boolean
        owners:
          type: array
          items:
            $ref: '#/components/schemas/UserList'
          readOnly: true
        group_owners:
          type: array
          items:
            $ref: '#/components/schemas/UserPermissionGroupSummary'
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        project:
          type: integer
          readOnly: true
          description: Changing the project selected will remove previous Feature
            States for the previously associated projects Environments that are related
            to this Feature. New default Feature States will be created for the new
            selected projects Environments for this Feature. Also this will remove
            any Tags associated with a feature as Tags are Project defined
        environment_feature_state:
          oneOf:
          - $ref: '#/components/schemas/FeatureStateSerializerSmall'
          - type: 'null'
          readOnly: true
        segment_feature_state:
          oneOf:
          - $ref: '#/components/schemas/FeatureStateSerializerSmall'
          - type: 'null'
          readOnly: true
        num_segment_overrides:
          type: integer
          readOnly: true
          description: Number of segment overrides that exist for the given feature
            in the environment provided by the `environment` query parameter.
        num_identity_overrides:
          type:
          - integer
          - 'null'
          readOnly: true
          description: 'Number of identity overrides that exist for the given feature
            in the environment provided by the `environment` query parameter. Note:
            will return null for Edge enabled projects.'
        is_num_identity_overrides_complete:
          type: boolean
          readOnly: true
          default: true
        is_server_key_only:
          type: boolean
        last_modified_in_any_environment:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: 'Datetime representing the last time that the feature was modified
            in any environment in the given project. Note: requires feature versioning
            v2 enabled on the environment.'
        last_modified_in_current_environment:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          description: 'Datetime representing the last time that the feature was modified
            in any environment in the current environment. Note: requires that the
            environment query parameter is passed and feature versioning v2 enabled
            on the environment.'
      required:
      - name
    CreateFeatureExport:
      type: object
      properties:
        environment_id:
          type: integer
        tag_ids:
          type: array
          items:
            type: integer
      required:
      - environment_id
      - tag_ids
    CreateFeatureHealthProvider:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/NameEnum'
      required:
      - name
    CreateLaunchDarklyImportRequest:
      type: object
      properties:
        token:
          type: string
        project_key:
          type: string
      required:
      - project_key
      - token
    CreateUpdateEnvironment:
      type: object
      description: |-
        Mixin to add read only status to fields in a given serializer based on the existence
        of a subscription and a black list of plan ids

        Example usage:

            class MySerializer(ReadOnlyIfNotValidPlanMixin, ModelSerializer):
                class Meta:
                    model = MyModel
                    fields = ("my_field",)

                invalid_plans = ("free",)
                field_names = ("my_field",)

                def get_subscription(self):
                    return subscription
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 20000
        project:
          type: integer
          description: Changing the project selected will remove all previous Feature
            States for the previously associated projects Features that are related
            to this Environment. New default Feature States will be created for the
            new selected projects Features for this Environment.
        minimum_change_request_approvals:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          readOnly: true
        allow_client_traits:
          type: boolean
          description: Allows clients using the client API key to set traits.
        banner_text:
          type:
          - string
          - 'null'
          maxLength: 255
        banner_colour:
          type:
          - string
          - 'null'
          description: hex code for the banner colour
          maxLength: 7
        hide_disabled_flags:
          type:
          - boolean
          - 'null'
          description: 'If true will exclude flags from SDK which are disabled. NOTE:
            If set, this will override the project `hide_disabled_flags`'
        use_mv_v2_evaluation:
          type: boolean
          description: |-
            To avoid breaking the API, we return this field as well.

            Warning: this will still mean that sending the `use_mv_v2_evaluation` field
            (e.g. in a PUT request) will not behave as expected but, since this is a minor
            issue, I think we can ignore.
          readOnly: true
        use_identity_composite_key_for_hashing:
          type: boolean
          description: Enable this to have consistent multivariate and percentage
            split evaluations across all SDKs (in local and server side mode)
        hide_sensitive_data:
          type: boolean
          description: 'If true, will hide sensitive data(e.g: traits, description
            etc) from the SDK endpoints'
        use_v2_feature_versioning:
          type: boolean
          readOnly: true
        use_identity_overrides_in_local_eval:
          type: boolean
          description: When enabled, identity overrides will be included in the environment
            document
        is_creating:
          type: boolean
          readOnly: true
          description: Attribute used to indicate when an environment is still being
            created (via clone for example)
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
      required:
      - name
      - project
    CreateUpdateUserEnvironmentPermission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        permissions:
          type: array
          items:
            type: string
        admin:
          type: boolean
        user:
          type: integer
      required:
      - user
    CreateUpdateUserPermissionGroupEnvironmentPermission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        permissions:
          type: array
          items:
            type: string
        admin:
          type: boolean
        group:
          type: integer
      required:
      - group
    CreateUpdateUserPermissionGroupProjectPermission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        permissions:
          type: array
          items:
            type: string
        admin:
          type: boolean
        group:
          type: integer
      required:
      - group
    CreateUpdateUserProjectPermission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        permissions:
          type: array
          items:
            type: string
        admin:
          type: boolean
        user:
          type: integer
      required:
      - user
    CustomCreateSegmentOverrideFeatureSegment:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        segment:
          type: integer
        priority:
          type: integer
          minimum: 0
        uuid:
          type: string
          format: uuid
          readOnly: true
      required:
      - segment
    CustomCreateSegmentOverrideFeatureState:
      type: object
      description: Adds nested create feature
      properties:
        id:
          type: integer
          readOnly: true
        feature:
          type: integer
          readOnly: true
        enabled:
          type: boolean
        feature_state_value:
          $ref: '#/components/schemas/FeatureStateValue'
        feature_segment:
          oneOf:
          - $ref: '#/components/schemas/CustomCreateSegmentOverrideFeatureSegment'
          - type: 'null'
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        live_from:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        environment:
          type:
          - integer
          - 'null'
          readOnly: true
        identity:
          type:
          - integer
          - 'null'
          readOnly: true
        change_request:
          type:
          - integer
          - 'null'
          readOnly: true
        multivariate_feature_state_values:
          type: array
          items:
            $ref: '#/components/schemas/MultivariateFeatureStateValue'
      required:
      - feature_state_value
    CustomEnvironmentFeatureVersionFeatureState:
      type: object
      description: Adds nested create feature
      properties:
        id:
          type: integer
          readOnly: true
        feature:
          type: integer
          readOnly: true
        enabled:
          type: boolean
        feature_state_value:
          $ref: '#/components/schemas/FeatureStateValue'
        feature_segment:
          oneOf:
          - $ref: '#/components/schemas/CustomCreateSegmentOverrideFeatureSegment'
          - type: 'null'
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        live_from:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        environment:
          type:
          - integer
          - 'null'
          readOnly: true
        identity:
          type:
          - integer
          - 'null'
          readOnly: true
        change_request:
          type:
          - integer
          - 'null'
          readOnly: true
        multivariate_feature_state_values:
          type: array
          items:
            $ref: '#/components/schemas/MultivariateFeatureStateValue'
      required:
      - feature_state_value
    CustomToken:
      type: object
      properties:
        key:
          type: string
          maxLength: 40
      required:
      - key
    CustomUserCreate:
      type: object
      properties:
        first_name:
          type: string
          maxLength: 150
        last_name:
          type: string
          maxLength: 150
        sign_up_type:
          oneOf:
          - $ref: '#/components/schemas/SignUpTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        email:
          type: string
          format: email
          maxLength: 254
        id:
          type: integer
          readOnly: true
        password:
          type: string
          writeOnly: true
        is_active:
          type: boolean
          readOnly: true
          title: Active
          description: Designates whether this user should be treated as active. Unselect
            this instead of deleting accounts.
        marketing_consent_given:
          type: boolean
          readOnly: true
          description: Determines whether the user has agreed to receive marketing
            mails
        uuid:
          type: string
          format: uuid
          readOnly: true
        key:
          type: string
          readOnly: true
        superuser:
          type: boolean
          writeOnly: true
      required:
      - email
      - first_name
      - last_name
      - password
    DataDogConfiguration:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        base_url:
          type: string
          format: uri
          maxLength: 200
        api_key:
          type: string
          maxLength: 100
        use_custom_source:
          type: boolean
      required:
      - api_key
      - base_url
    DeleteAllTraitKeys:
      type: object
      properties:
        key:
          type: string
      required:
      - key
    DeleteSegmentOverride:
      type: object
      properties:
        feature:
          $ref: '#/components/schemas/FeatureIdentifier'
        segment:
          $ref: '#/components/schemas/SegmentIdentifier'
      required:
      - feature
      - segment
    DerivedFrom:
      type: object
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/PermissionRole'
      required:
      - groups
      - roles
    DetailedPermissions:
      type: object
      properties:
        permission_key:
          type: string
        is_directly_granted:
          type: boolean
        derived_from:
          $ref: '#/components/schemas/DerivedFrom'
      required:
      - derived_from
      - is_directly_granted
      - permission_key
    DjangoAttributeNameEnum:
      enum:
      - email
      - first_name
      - last_name
      - groups
      type: string
      description: |-
        * `email` - Email
        * `first_name` - First / Given name
        * `last_name` - Last name / Surname
        * `groups` - Groups
    DynatraceConfiguration:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        base_url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        api_key:
          type: string
          maxLength: 100
        entity_selector:
          type: string
          maxLength: 1000
      required:
      - api_key
      - entity_selector
    EdgeIdentity:
      type: object
      properties:
        identity_uuid:
          type: string
          readOnly: true
        identifier:
          type: string
          maxLength: 2000
        dashboard_alias:
          type: string
          maxLength: 100
      required:
      - identifier
    EdgeIdentityFeatureState:
      type: object
      properties:
        feature_state_value:
          type:
          - string
          - integer
          - boolean
          - 'null'
          description: Feature state value (string, integer, or boolean)
        feature:
          type: integer
          description: Feature ID
        multivariate_feature_state_values:
          type: array
          items:
            $ref: '#/components/schemas/EdgeMultivariateFeatureStateValue'
        enabled:
          type: boolean
          default: false
        featurestate_uuid:
          type: string
          readOnly: true
        identity_uuid:
          type: string
          format: uuid
          readOnly: true
      required:
      - feature
    EdgeIdentitySourceIdentityRequest:
      type: object
      properties:
        source_identity_uuid:
          type: string
          description: UUID of the source identity to clone feature states from.
      required:
      - source_identity_uuid
    EdgeIdentityTraits:
      type: object
      properties:
        trait_key:
          type: string
        trait_value:
          type:
          - string
          - 'null'
      required:
      - trait_key
      - trait_value
    EdgeIdentityUpdate:
      type: object
      properties:
        identity_uuid:
          type: string
          readOnly: true
        identifier:
          type: string
          readOnly: true
          maxLength: 2000
        dashboard_alias:
          type: string
          maxLength: 100
      required:
      - identifier
    EdgeIdentityWithIdentifierFeatureStateRequestBody:
      type: object
      properties:
        feature_state_value:
          type:
          - string
          - integer
          - boolean
          - 'null'
          description: Feature state value (string, integer, or boolean)
        feature:
          oneOf:
          - type: integer
            description: Feature ID
          - type: string
            description: Feature name
          description: Feature identifier (ID or name)
        multivariate_feature_state_values:
          type: array
          items:
            $ref: '#/components/schemas/EdgeMultivariateFeatureStateValue'
        enabled:
          type: boolean
          default: false
        featurestate_uuid:
          type: string
          readOnly: true
        identity_uuid:
          type: string
          format: uuid
          readOnly: true
        identifier:
          type: string
          maxLength: 2000
      required:
      - feature
      - identifier
    EdgeMultivariateFeatureStateValue:
      type: object
      properties:
        multivariate_feature_option:
          type: integer
        percentage_allocation:
          type: number
          format: double
          maximum: 100
          minimum: 0
      required:
      - multivariate_feature_option
      - percentage_allocation
    EdgeV2MigrationStatusEnum:
      enum:
      - NOT_STARTED
      - IN_PROGRESS
      - COMPLETE
      - INCOMPLETE
      type: string
      description: |-
        * `NOT_STARTED` - Not Started
        * `IN_PROGRESS` - In Progress
        * `COMPLETE` - Complete
        * `INCOMPLETE` - Incomplete (identity overrides skipped)
    EnvironmentAPIKey:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        key:
          type: string
          readOnly: true
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        name:
          type: string
          maxLength: 100
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - name
    EnvironmentDefault:
      type: object
      properties:
        enabled:
          type: boolean
        value:
          $ref: '#/components/schemas/FeatureValue'
      required:
      - enabled
      - value
    EnvironmentFeatureVersion:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        published:
          type: boolean
          readOnly: true
        live_from:
          type:
          - string
          - 'null'
          format: date-time
        uuid:
          type: string
          format: uuid
          readOnly: true
        is_live:
          type: boolean
          readOnly: true
        published_by:
          type:
          - integer
          - 'null'
          readOnly: true
        created_by:
          type:
          - integer
          - 'null'
          readOnly: true
        description:
          type:
          - string
          - 'null'
    EnvironmentFeatureVersionChangeRequest:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        feature_states:
          type: array
          items:
            $ref: '#/components/schemas/CreateChangeRequestFeatureState'
        live_from:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - feature_states
    EnvironmentFeatureVersionCreate:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        published:
          type: boolean
          readOnly: true
        live_from:
          type:
          - string
          - 'null'
          format: date-time
        uuid:
          type: string
          format: uuid
          readOnly: true
        is_live:
          type: boolean
          readOnly: true
        published_by:
          type:
          - integer
          - 'null'
          readOnly: true
        created_by:
          type:
          - integer
          - 'null'
          readOnly: true
        description:
          type:
          - string
          - 'null'
        feature_states_to_create:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
          writeOnly: true
          description: 'Array of feature states that will be created in the new version.
            Note: these can only include segment overrides.'
        feature_states_to_update:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomEnvironmentFeatureVersionFeatureState'
          writeOnly: true
          description: Array of feature states to update in the new version.
        segment_ids_to_delete_overrides:
          type:
          - array
          - 'null'
          items:
            type: integer
          writeOnly: true
          description: List of segment ids for which the segment overrides will be
            removed in the new version.
        publish_immediately:
          type: boolean
          writeOnly: true
          default: false
          description: Boolean to confirm whether the new version should be publish
            immediately or not.
    EnvironmentFeatureVersionPublish:
      type: object
      properties:
        live_from:
          type: string
          format: date-time
    EnvironmentFeatureVersionRetrieve:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        published:
          type: boolean
          readOnly: true
        live_from:
          type:
          - string
          - 'null'
          format: date-time
        uuid:
          type: string
          format: uuid
          readOnly: true
        is_live:
          type: boolean
          readOnly: true
        published_by:
          type:
          - integer
          - 'null'
          readOnly: true
        created_by:
          type:
          - integer
          - 'null'
          readOnly: true
        description:
          type:
          - string
          - 'null'
        previous_version_uuid:
          type:
          - string
          - 'null'
          readOnly: true
        feature:
          type: integer
          readOnly: true
        environment:
          type: integer
          readOnly: true
    EnvironmentMetrics:
      type: object
      properties:
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/MetricItem'
          readOnly: true
    EnvironmentRetrieveSerializerWithMetadata:
      type: object
      description: Functionality for serializers that need to handle metadata
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 20000
        project:
          type: integer
          description: Changing the project selected will remove all previous Feature
            States for the previously associated projects Features that are related
            to this Environment. New default Feature States will be created for the
            new selected projects Features for this Environment.
        minimum_change_request_approvals:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        allow_client_traits:
          type: boolean
          description: Allows clients using the client API key to set traits.
        banner_text:
          type:
          - string
          - 'null'
          maxLength: 255
        banner_colour:
          type:
          - string
          - 'null'
          description: hex code for the banner colour
          maxLength: 7
        hide_disabled_flags:
          type:
          - boolean
          - 'null'
          description: 'If true will exclude flags from SDK which are disabled. NOTE:
            If set, this will override the project `hide_disabled_flags`'
        use_mv_v2_evaluation:
          type: boolean
          description: |-
            To avoid breaking the API, we return this field as well.

            Warning: this will still mean that sending the `use_mv_v2_evaluation` field
            (e.g. in a PUT request) will not behave as expected but, since this is a minor
            issue, I think we can ignore.
          readOnly: true
        use_identity_composite_key_for_hashing:
          type: boolean
          description: Enable this to have consistent multivariate and percentage
            split evaluations across all SDKs (in local and server side mode)
        hide_sensitive_data:
          type: boolean
          description: 'If true, will hide sensitive data(e.g: traits, description
            etc) from the SDK endpoints'
        use_v2_feature_versioning:
          type: boolean
          readOnly: true
        use_identity_overrides_in_local_eval:
          type: boolean
          description: When enabled, identity overrides will be included in the environment
            document
        is_creating:
          type: boolean
          readOnly: true
          description: Attribute used to indicate when an environment is still being
            created (via clone for example)
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
        total_segment_overrides:
          type: integer
      required:
      - name
      - project
      - total_segment_overrides
    EnvironmentSerializerLight:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 20000
        project:
          type: integer
          description: Changing the project selected will remove all previous Feature
            States for the previously associated projects Features that are related
            to this Environment. New default Feature States will be created for the
            new selected projects Features for this Environment.
        minimum_change_request_approvals:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        allow_client_traits:
          type: boolean
          description: Allows clients using the client API key to set traits.
        banner_text:
          type:
          - string
          - 'null'
          maxLength: 255
        banner_colour:
          type:
          - string
          - 'null'
          description: hex code for the banner colour
          maxLength: 7
        hide_disabled_flags:
          type:
          - boolean
          - 'null'
          description: 'If true will exclude flags from SDK which are disabled. NOTE:
            If set, this will override the project `hide_disabled_flags`'
        use_mv_v2_evaluation:
          type: boolean
          description: |-
            To avoid breaking the API, we return this field as well.

            Warning: this will still mean that sending the `use_mv_v2_evaluation` field
            (e.g. in a PUT request) will not behave as expected but, since this is a minor
            issue, I think we can ignore.
          readOnly: true
        use_identity_composite_key_for_hashing:
          type: boolean
          description: Enable this to have consistent multivariate and percentage
            split evaluations across all SDKs (in local and server side mode)
        hide_sensitive_data:
          type: boolean
          description: 'If true, will hide sensitive data(e.g: traits, description
            etc) from the SDK endpoints'
        use_v2_feature_versioning:
          type: boolean
          readOnly: true
        use_identity_overrides_in_local_eval:
          type: boolean
          description: When enabled, identity overrides will be included in the environment
            document
        is_creating:
          type: boolean
          readOnly: true
          description: Attribute used to indicate when an environment is still being
            created (via clone for example)
      required:
      - name
      - project
    EnvironmentSerializerWithMetadata:
      type: object
      description: Functionality for serializers that need to handle metadata
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 20000
        project:
          type: integer
          description: Changing the project selected will remove all previous Feature
            States for the previously associated projects Features that are related
            to this Environment. New default Feature States will be created for the
            new selected projects Features for this Environment.
        minimum_change_request_approvals:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        allow_client_traits:
          type: boolean
          description: Allows clients using the client API key to set traits.
        banner_text:
          type:
          - string
          - 'null'
          maxLength: 255
        banner_colour:
          type:
          - string
          - 'null'
          description: hex code for the banner colour
          maxLength: 7
        hide_disabled_flags:
          type:
          - boolean
          - 'null'
          description: 'If true will exclude flags from SDK which are disabled. NOTE:
            If set, this will override the project `hide_disabled_flags`'
        use_mv_v2_evaluation:
          type: boolean
          description: |-
            To avoid breaking the API, we return this field as well.

            Warning: this will still mean that sending the `use_mv_v2_evaluation` field
            (e.g. in a PUT request) will not behave as expected but, since this is a minor
            issue, I think we can ignore.
          readOnly: true
        use_identity_composite_key_for_hashing:
          type: boolean
          description: Enable this to have consistent multivariate and percentage
            split evaluations across all SDKs (in local and server side mode)
        hide_sensitive_data:
          type: boolean
          description: 'If true, will hide sensitive data(e.g: traits, description
            etc) from the SDK endpoints'
        use_v2_feature_versioning:
          type: boolean
          readOnly: true
        use_identity_overrides_in_local_eval:
          type: boolean
          description: When enabled, identity overrides will be included in the environment
            document
        is_creating:
          type: boolean
          readOnly: true
          description: Attribute used to indicate when an environment is still being
            created (via clone for example)
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
      required:
      - name
      - project
    Error:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    ExperimentResults:
      type: object
      description: Serializer for the full experiment results response.
      properties:
        feature:
          type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentVariantResult'
        statistics:
          $ref: '#/components/schemas/ExperimentStatistics'
      required:
      - feature
      - statistics
      - variants
    ExperimentStatistics:
      type: object
      description: Serializer for statistical analysis results.
      properties:
        p_value:
          type: number
          format: double
        significant:
          type: boolean
        chance_to_win:
          type: object
          additionalProperties:
            type: number
            format: double
        lift:
          type: string
        winner:
          type:
          - string
          - 'null'
        recommendation:
          type: string
        sample_size_warning:
          type:
          - string
          - 'null'
      required:
      - chance_to_win
      - lift
      - p_value
      - recommendation
      - significant
      - winner
    ExperimentVariantResult:
      type: object
      description: Serializer for individual variant results.
      properties:
        variant:
          type: string
        evaluations:
          type: integer
        conversions:
          type: integer
        conversion_rate:
          type: number
          format: double
      required:
      - conversion_rate
      - conversions
      - evaluations
      - variant
    FeatureEvaluationData:
      type: object
      properties:
        day:
          type: string
        count:
          type: integer
        labels:
          oneOf:
          - $ref: '#/components/schemas/Labels'
          - type: 'null'
      required:
      - count
      - day
      - labels
    FeatureExport:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          readOnly: true
        environment_id:
          type: integer
          readOnly: true
        status:
          $ref: '#/components/schemas/StatusEnum'
        created_at:
          type: string
          format: date-time
          readOnly: true
    FeatureExternalResource:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          maxLength: 200
        type:
          $ref: '#/components/schemas/FeatureExternalResourceTypeEnum'
        metadata:
          oneOf:
          - {}
          - type: 'null'
        feature:
          type: integer
      required:
      - feature
      - type
      - url
    FeatureExternalResourceTypeEnum:
      enum:
      - GITHUB_ISSUE
      - GITHUB_PR
      type: string
      description: |-
        * `GITHUB_ISSUE` - GitHub Issue
        * `GITHUB_PR` - GitHub PR
    FeatureFlagCodeReferencesRepositoryCount:
      type: object
      properties:
        repository_url:
          type: string
          format: uri
        count:
          type: integer
        last_successful_repository_scanned_at:
          type: string
          format: date-time
        last_feature_found_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - count
      - last_feature_found_at
      - last_successful_repository_scanned_at
      - repository_url
    FeatureFlagCodeReferencesRepositorySummary:
      type: object
      properties:
        repository_url:
          type: string
          format: uri
        vcs_provider:
          $ref: '#/components/schemas/VcsProviderEnum'
        revision:
          type: string
        last_successful_repository_scanned_at:
          type: string
          format: date-time
        last_feature_found_at:
          type:
          - string
          - 'null'
          format: date-time
        code_references:
          type: array
          items:
            $ref: '#/components/schemas/_CodeReferenceDetail'
      required:
      - code_references
      - last_feature_found_at
      - last_successful_repository_scanned_at
      - repository_url
      - revision
      - vcs_provider
    FeatureFlagCodeReferencesScan:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          readOnly: true
        repository_url:
          type: string
          format: uri
          maxLength: 200
        project:
          type: integer
          readOnly: true
        revision:
          type: string
          maxLength: 100
        code_references:
          type: array
          items:
[...]
